body {
    background-image: url(../images/Station.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.jumbotron {
    padding-bottom: 0;
}

#trainInfo {
    background-color: rgba(0,123,255,.5);
    color:  white;
}